{% extends "index.html" %}

{% block body %}

<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Registro</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5"></div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{tipo}}</div>
            <p class="category"></p>
            <p>{{mensaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}