{% extends "index.html" %}

{% block body %}

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Tareas finalizadas</div>
    {% for tarea in tareas %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">{{tarea.titulo}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{tarea.descripcion}}</div>
            <p>{{tarea.detalle}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}