{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mis tareas</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    

  </head>
  <body id="inicio">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Mis tareas</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                {% for key, value in menu.items %}
                    <li class="nav-item"><a class="nav-link smooth-scroll" href="{{ value }}">{{ key }}</a></li>
                {% endfor %}


              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
<style>
 .button-container { display: flex;} 
 .nueva { display: inline-block; margin-left: auto;
    margin-right: auto; }
 .colorp {  color: black;  }

 .profile-image{float : left}
</style>

<style>
 .aja {  color: black;  }
</style>

<div class="profile-page" id="Inicio">
  <div class="wrapper">
    <div class="page-header page-header-small aja" filter-color="green" >
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/images/tareas.jpg');"></div>
      <div class="container">
        <div class="content-center">
          <div class="h2 title">Sistema de gestión de tareas</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block body %}{% endblock %}

</div>
    </div>

    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/now-ui-kit.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'js/notify.min.js' %}"></script>-

{% block script %}{% endblock %}
{% block estilos %}{% endblock %}
{% block logica %}{% endblock %}
  </body>
</html>